<div class="about">
    <p>There are more than 44,000 accredited programs available in the USA for prospective undergraduate students 
        to choose from. Whose, program contents are often intricate and difficult for high school students
        to comprehend. Nearly 15.9 million undergraduate students enroll yearly at universities, out of which it
        is observed that 30 percent of the students switch their major within the first three years of enrollment.
        Due to the lack of cohesive tools to serve as their guides, students make ill-informed decisions that leads
        to these miscalculations. We would like to improve this situation by our machine-learning tool - PROGRAM 
        DECISION SUPPORT TOOL which will support prospective students in selecting the right program through a data-driven 
        approach.</p>
</div>